@media screen and (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". logo logo logo . navbar navbar navbar navbar navbar navbar .";
  }

  .navigation {
    padding: 0;
  }

  .hero-message h1 {
    margin: 4rem 0 0 0;
  }

  .group-img img {
    width: 70%;
  }

  .square-border img {
    width: 30%;
  }

  img {
    top: -4%;
  }

  .sugdesc1 form {
    display: flex;
    flex-wrap: nowrap;
  }

  .suggestions {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12.5rem auto 12.5rem auto;
    grid-template-areas:
      ". . . . . . . . . . . . "
      ". sugdesc1 sugdesc1 sugdesc1 sugdesc1 sugdesc1 sugimg1 sugimg1 sugimg1 sugimg1 sugimg1 ."
      ". . . . . . . . . . . . "
      ". sugimg2 sugimg2 sugimg2 sugimg2 sugimg2 sugdesc2 sugdesc2 sugdesc2 sugdesc2 sugdesc2 .";
  }

  .pricing-plan {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10rem auto 4rem auto;
    grid-template-areas:
      ". . . . . . . . . . . . "
      ". . pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc . ."
      ". . . . . . . . . . . . "
      ". . pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable . .";
  }

  .pricingdesc p {
    padding: 0;
  }

  .pricebutton {
    width: 9rem;
  }

  .pricingsash {
    top: 0%;
    width: 12%;
  }

  .appdesc {
    .appbuttons p {
      margin: 0 2rem 4rem 0;
    }
  }

  .appdesc {
    h5 {
      margin: 6rem 0 3.4375rem 15%;
      padding-right: 5%;
    }

    p {
      margin: 0 0 4.375rem 15%;
    }

    .appbuttons {
      margin: 0 0 0 15%;
      p {
        margin: 0 2rem 4rem 0;
      }

      a {
        margin-right: 1rem;
        img {
          width: 8.4375rem;
          height: 2.5rem;
        }
      }
    }
  }

  .appimage {
    width: 100%;
    height: 100%;
    img {
      top: -10%;
      width: 25rem;
      height: auto;
    }
  }

  .modal {
    width: 40% !important;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". logo logo logo . navbar navbar navbar navbar navbar navbar .";
  }

  .navigation {
    padding: 0;
    justify-content: space-evenly;
  }

  .hero-message h1 {
    margin: 3rem 0 0 0;
  }

  .group-img img {
    width: 80%;
  }

  .square-border img {
    width: 30%;
  }

  .feature img {
    top: -4%;
  }

  .box1,
  .box2,
  .box3 {
    h2 {
      padding: 0 1em 0 0;
    }
  }

  .suggestions {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      ". sugdesc1 sugdesc1 sugdesc1 sugdesc1 sugdesc1 sugimg1 sugimg1 sugimg1 sugimg1 sugimg1 ."
      ". sugimg2 sugimg2 sugimg2 sugimg2 sugimg2 sugdesc2 sugdesc2 sugdesc2 sugdesc2 sugdesc2 .";
  }

  .pricing-plan {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10rem auto 4rem auto;
    grid-template-areas:
      ". . . . . . . . . . . . "
      ". . pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc . ."
      ". . . . . . . . . . . . "
      ". pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable .";
  }

  .pricingdesc p {
    padding: 0;
  }

  .pricebutton {
    width: 8rem;
  }

  .pricingsash {
    top: 0%;
    width: 12%;
  }

  .pricingbtns {
    height: 8rem;
  }

  .sugdesc1 form {
    display: flex;
    flex-wrap: nowrap;
  }

  .appdesc {
    h5 {
      margin: 5rem 0 3.4375rem 10%;
      padding-right: 5%;
    }

    p {
      margin: 0 0 4.375rem 10%;
    }

    .appbuttons {
      margin: 0 0 0 10%;
      p {
        margin: 0 1.5rem 3rem 0;
      }

      a {
        margin-right: 1rem;
        img {
          width: 8.4375rem;
          height: 2.5rem;
        }
      }
    }
  }

  .appimage {
    width: 100%;
    height: 100%;
    img {
      top: -1%;
      width: 20rem;
      height: auto;
    }
  }

  .newsletter {
    grid-template-rows: auto 2px;
    grid-template-areas:
      ". newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterbutton newsletterbutton newsletterbutton ."
      ". hr hr hr hr hr hr hr hr hr hr .";
  }

  #logo2 {
    margin: 0 0 0 8%;
  }
  .ul3 {
    margin-right: 8%;
  }

  .modal {
    width: 50% !important;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "logo logo navbar navbar navbar navbar";
  }

  .navigation {
    padding: 0;
    justify-content: space-evenly;
  }

  .hero-message h1 {
    margin: 2rem 0 0 0;
  }

  .group-img img {
    width: 80%;
  }

  /*SEKCJA 2*/

  .icon-blocks {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 11rem auto;
    grid-template-areas: ". . . . . . . ." "feature box1 box1 box2 box2 box3 box3 box4";
  }

  .square-border img {
    width: 30%;
  }

  .feature img {
    display: none;
  }
  .box1,
  .box2,
  .box3 {
    h2 {
      padding: 0 1em 0 0;
    }
  }

  .suggestions {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      ". sugdesc1 sugdesc1 sugdesc1 sugdesc1 sugdesc1 sugimg1 sugimg1 sugimg1 sugimg1 sugimg1 ."
      ". sugimg2 sugimg2 sugimg2 sugimg2 sugimg2 sugdesc2 sugdesc2 sugdesc2 sugdesc2 sugdesc2 .";
  }

  .pricing-plan {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 7rem auto 3rem auto;
    grid-template-areas:
      ". . . . . . . . . . . . "
      ". . pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc pricingdesc . ."
      ". . . . . . . . . . . . "
      ". pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable pricingtable .";
  }

  .pricingdesc p {
    padding: 0;
  }

  .pricebutton {
    width: 7rem;
  }

  .pricingsash {
    top: 0%;
    width: 12%;
  }

  .pricingbtns {
    height: 7rem;
  }

  .sugdesc1 form {
    display: flex;
    flex-wrap: nowrap;
  }

  .appdownload {
    grid-template-areas:
      ". . . . . . . . . . . . "
      "appbackground appbackground appbackground appbackground appbackground appbackground appimage appimage  appimage appimage appimage appimage";
  }

  .appdesc {
    h5 {
      margin: 5rem 0 3.4375rem 10%;
      padding-right: 0;
    }

    p {
      margin: 0 0 4.375rem 10%;
      padding-right: 5%;
    }

    .appbuttons {
      margin: 0 0 0 10%;
      display: inline-block;
      p {
        margin: 0 0 1rem 0;
      }

      a {
        display: inline-block;
        margin: 0 1rem 2rem 0;
        img {
          width: 8.4375rem;
          height: 2.5rem;
        }
      }
    }
  }

  .appimage {
    width: 100%;
    height: 100%;
    img {
      top: 0%;
      width: 21rem;
      height: auto;
    }
  }

  .newsletter {
    grid-template-rows: auto 2px;
    grid-template-areas:
      ". newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterdesc newsletterbutton newsletterbutton newsletterbutton ."
      ". hr hr hr hr hr hr hr hr hr hr .";
  }

  .ul3 {
    flex-direction: column;

    img {
      width: 1rem;
      height: 1rem;
      margin: 0 0 2rem 0;
    }
  }

  #logo2 {
    margin: 0 0 0 8%;
  }
  .ul3 {
    margin-right: 8%;
  }

  .modal {
    width: 50% !important;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7rem auto;
    grid-template-areas: "logo hamburger" "navbar navbar";
    border-top: 0;
  }

  //HAMBURGER//////

  .navigation {
    display: none;
    width: 100%;
    flex-direction: column;
    height: 15rem;
    li {
      margin: 0.5rem 0;
      a {
        font-size: 1.5rem;
      }
      a:hover {
        font-size: 1.6rem;
      }
    }
  }

  .navigation.show {
    display: flex;
    transition: 0.2s linear;
  }

  .navigation.show:hover {
    transition: all 1s ease 0s;
  }

  .hamburger {
    display: flex;
    font-size: 1.5rem;
  }

  //////////////////////////////////
  .hero {
    grid-template-rows: 10rem auto 5rem auto;
  }
  .hero-message {
    h1 {
      margin: 1rem 0 0 0;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .front-btn {
    font-size: 1.5rem;
  }

  .hero-message {
    h1 {
      padding: 0 2rem;
      font-size: 3.5rem;
    }
    p {
      padding: 2rem;
    }
  }

  .group-img {
    padding: 0 2rem;
    margin-left: 0;
    img {
      width: 100%;
    }
  }

  .square.green,
  .square.yellow {
    margin-top: 2rem;
  }

  .square-border img {
    width: 30%;
  }

  .feature img {
    display: none;
  }

  .icon-blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto auto auto;
    grid-template-areas: "." "box1" "box2" "box3";
  }

  .box1,
  .box2,
  .box3 {
    border-top: none;
    align-items: center;
    h2 {
      font: 3rem avenir;
      font-weight: lighter;
      margin-top: 1em;
      padding: 0 1rem;
    }

    p {
      font: 1.5rem rubik;
      text-align: left;
      text-justify: inter-word;
      padding: 0 3rem;
      line-height: 2rem;
      font-weight: lighter;
      margin: 1em 0 3em 0;
      text-align: center;
    }
  }

  .suggestions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 5rem auto auto;
    grid-template-areas: " sugimg1 " "sugdesc1 " "." "sugimg2" "." "sugdesc2";
  }

  .sugdesc1 {
    form {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 0 2rem;
      input:first-of-type {
        width: 20rem;
        height: 5rem;
        font-size: 2rem;
        margin-right: 5%;
      }
    }
  }
  .sugdesc2 input {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    margin: 1.25rem 0;
  }

  .sugdesc1 form input:nth-of-type(2) {
    height: 5rem;
    background-color: #80e0dd;
    color: white;
    font-size: 2rem;
  }

  .sugdesc1,
  .sugdesc2 {
    align-items: center;

    h3 {
      margin: 0.2em 0 0.5em;
      font-size: 3.5rem;
    }

    p {
      margin: 1em 0;
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 0 3rem;
      text-align: center;
    }
  }

  .sugimg1,
  .sugimg2 {
    justify-content: center;
    width: 80%;
  }

  .sugimg1 {
    margin: 3em auto 3em auto;
  }
  .sugimg2 {
    margin: 0 auto 3rem;
  }

  .pricing-plan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto 2rem auto 5rem;
    grid-template-areas: "." "pricingdesc" "." "pricingtable" ".";
  }

  .pricingtable {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricingdesc {
    h4 {
      font-size: 3.5rem;
      margin: 1.5rem auto;
    }
    p {
      margin: 1rem 0;
      padding: 0 2.5rem;
      font-size: 1.5rem;
      text-align: center;
      line-height: 2rem;
    }
  }

  .pricingsash {
    top: 0%;
    width: 12%;
  }

  .pricingbtns {
    flex-direction: column;
    height: 10rem;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 2rem;
    button {
      width: 20rem;
      height: 4rem;
      font-size: 2rem;
      margin: 0;
      border-radius: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .pricing {
    margin: 0;
    width: 80%;
  }

  .pricing:first-of-type {
    margin: 0 0 5rem 0;
  }

  .pricingimg img {
    width: 50%;
  }

  .pricinginfo {
    margin: 0;
    padding: 0 2rem;
    p {
      font-size: 2rem;
      text-align: center;
      margin: 1rem 0;
    }
  }
  .pricingvalue {
    margin: 2.25rem 11.5% 0 11.5%;
    justify-content: center;
    h4 {
      font-size: 4rem;
      sup {
        font-size: 2rem;
      }
    }
    p {
      font-size: 2rem;
    }
    hr {
      margin: 2rem 0;
    }
  }

  .appdownload {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 50rem;
    grid-template-areas: "appbackground" "appimage";
  }

  .appdesc {
    h5 {
      margin: 5rem 0 0 0;
      padding: 0 2.5rem;
      font-size: 3.5rem;
      text-align: center;
      line-height: 4rem;
    }

    p {
      margin: 3rem 0 0 0;
      padding: 0 2.5rem;
      font-size: 1.75rem;
      line-height: 2.5rem;
      text-align: center;
    }

    .appbuttons {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3rem 0 3rem 0;
      p {
        justify-self: center;
        margin: 0;
        width: 100%;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0 0 3rem 0;
      }

      a {
        width: 40%;
        max-width: 16rem;
        margin: 0;
        height: 5rem;
        margin-right: 3%;
        img {
          display: block;
          margin-right: 10%;
          width: 100%;
          height: 100%;
        }
      }

      a:nth-of-type(2) {
        margin-right: 0;
        margin-left: 3%;
      }
    }
  }

  .appbackground,
  .appimage {
    border-top: none;
    border-bottom: none;
  }

  .appimage {
    grid-area: appimage;
    width: 100%;

    img {
      position: absolute;
      height: auto;
      width: 25rem;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .newsletter {
    display: flex;
    flex-direction: column;
  }

  .newsletterdesc {
    h4 {
      margin: 4.5rem 0 0 0;
      padding: 0 2rem;
      text-align: center;
      font-size: 3.5rem;
    }

    p {
      font-size: 1.75rem;
      line-height: 2rem;
      margin: 2rem 0 2.55rem;
      padding: 0 2.5rem;
      text-align: center;
    }
  }

  .newsletterbutton {
    justify-content: center;

    button {
      font-size: 2rem;
      width: 20rem;
      height: 4rem;
      border-radius: 2rem;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "footer";
  }

  .footerlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2.5rem auto 2.5rem auto 2.5rem auto;
    grid-template-areas: "logo2" "." "ul1" "." "ul2" "." "ul3";
    margin: 0;
  }

  .ul1 {
    grid-area: ul1;
  }

  .ul2 {
    grid-area: ul2;
  }

  .ul1,
  .ul2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

    li a {
      font-size: 2rem;
    }
  }

  .ul3 {
    grid-area: ul3;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 10%;

    img {
      width: 2rem;
      height: 2rem;
      margin: auto;
    }
  }

  .limain {
    font-size: 3rem;
  }

  #footerfbimg {
    width: 1rem;
  }

  #logo2 {
    margin: auto;
    width: 20rem;
    height: auto;
  }

  .footerp {
    display: flex;
    justify-content: center;
    margin: 0 0 2.875rem;
    font-size: 1.5rem;
  }

  .modal {
    width: 80%;
    height: auto;
    h1 {
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }
    form {
      input {
        height: 4rem;
        font-family: rubik;
        font-size: 1.5rem;
        border-radius: 0.5em;
        transition: 0.1s linear;
        border: 1px solid black;
      }
    }
  }
  .modal input:first-of-type {
    margin-bottom: 1.5rem;
  }
  .close-modal {
    font-size: 4rem;
    top: 0.8rem;
    right: 1.5rem;
  }
}
